@use "../../foundation/variables";

@mixin button() {
  .c-button__trial {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    color: variables.$white-color;
    width: 345px;
    height: 80px;
    border-radius: 40px;
    background: linear-gradient(
      82deg,
      #52a530 0%,
      #4cce17 100%,
      #295318 100%,
      #000 100%
    );
    padding-top: 20px;
    padding-bottom: 23px;
    a {
      cursor: pointer;
    }
  }
}
